
.nav{
    display: flex;
    width: 100%;
    /*height: -webkit-max-content;
    height: -moz-max-content;*/
    height: 8rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-around;
    background-color: transparent;
    position: fixed;
    padding: 1rem;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 999;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
    transition: 0.4s;
        -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);
    font-family: DejaVuSans;
}

.nav__logo{
    width: max-content;
        width: -webkit-max-content;
        width: -moz-max-content;
    height: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
}

.nav__logo img{
    width: 8.5rem;
}

.nav__secciones{
    display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.nav__link{
    display: flex;
    font-family: DejaVuSansBold;
    font-size: 1.2em;
    color: #4cb752;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
    transition: 0.4s;
    margin-left: 1.5em;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.nav__link:hover{
    color: #39883d;
}

.nav__sublink{
    display: block;
    font-family: DejaVuSans;
    font-size: 1em;
    color: #4cb752;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
    padding: 0.8rem;
    background-color: white;
}

.nav__sublink:hover{
    /*background-color: rgb(233, 233, 233);*/
    color: #39883d;
    /*border: 1px solid #39883d;*/
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);
    background-color: white;
    transform: translateX(10px);

}


.nav__submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.nav__submenu-content{
    display: none;
    position: absolute;
    left: 1.5rem;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    z-index: 1;
    flex-direction: column;
    transition: 5s;
    top: 6rem;
    /*box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.651);*/
}

.nav__submenu:hover .nav__submenu-content{
    display: flex;
}

.nav__link {
    color: var(--verde-sicove);
    text-decoration: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;

}


.nav__btn-menu {
    display: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;

}

.nav__btn-menu  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__btn-menu  button img {
    width: 4em;
}



/* NAVABR MINI */


.nav-mini{
    display: flex;
    width: 100%;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: -10em;
    background-color: rgb(255, 255, 255);
    z-index: 999;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
    transition: 0.4s;
        -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);
    font-family: DejaVuSans;
}

.nav-mini__secciones{
    display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.nav-mini__link{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: DejaVuSans;
    font-size: 1rem;
    color: #4cb752;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
    transition: 0.4s;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 1rem;
}

.nav-mini__link--active{
    background-color: var(--verde-sicove);
    color: #ffffff;

}

.nav-mini__link:hover{
    color: #39883d;
}
.nav-mini__link--active:hover{
    color: #ffffff;
}

.nav-mini__sublink{
    display: block;
    font-family: DejaVuSans;
    font-size: 1em;
    color: #4cb752;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
    padding: 0.8rem;
    
}

.nav-mini__sublink:hover{
    /*background-color: rgb(233, 233, 233);
    color: #39883d;
    border-bottom: 1px solid #39883d;
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);*/
     color: #39883d;
     box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.651);
     background-color: white;
     transform: translateX(10px);
}

.nav-mini__submenu{
    position: relative;
    height: 100%;
}

.nav-mini__submenu-content{
    display: none;
    position: absolute;
    left: 1.5rem;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    z-index: 1;
    flex-direction: column;
    transition: 5s;
    /*box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.651);*/
}

.nav-mini__submenu:hover .nav-mini__submenu-content{
    display: flex;
}

.nav-mini__btn-menu {
    display: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;

}

.nav-mini__btn-menu  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-mini__btn-menu  button img {
    width: 2em;
}


/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 318px) and (max-width: 768px) { 
    .nav__btn-menu{
        display: flex;
        width: 4rem;
    }
    .nav-mini__btn-menu{
        display: flex;
    }
    .nav{
        justify-content: space-between;
    }
    .nav__secciones{
        display:none;
    }
    .nav-mini{
        justify-content: flex-end;
        padding-right: 1rem ;
    }
    .nav-mini__secciones{
        display: none;
    }
   
 }

 

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    
 }